numpy
matplotlib
scipy
autograd
pykalman
scikit-learn
darts
plotly
jupyter
ipywidgets
h5py
jax==0.2.9
jaxlib==0.1.60
objax==1.3.1
-e git+https://github.com/AaltoML/Newt.git#egg=newt
Cython --install-option="--no-cython-compile"
-e git+https://github.com/lindermanlab/ssm.git#egg=ssm
